body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfc7bd;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.volunteer-instructions {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.3);
  text-align: justify;
}


.instructions-header {
  font-size: 24px;
}

.instructions-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.sessions-header {
  font-size: 20px;
}

.sessions-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.sessions-steps {
  font-size: 14px;
}

.notes {
  font-size: 16px;
  color: #63434c;
  font-weight: bold;
  margin-top: 15px;
}

.calendar-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #DCD7C9;

}

.calendar-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.booked-sessions {
  background-color: #e3e3e3a4;
  border: 1px solid white;
  border-radius: 1rem;
  color: black;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  text-align: left;
}


.booked-item {
  border: none;
  background-color: none;
  min-width: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.cancel-booking-button {
  background-image: linear-gradient(to right, #63434c 0%, #2a1621 51%, #120b0f 100%);
  padding: 10px 25px;
  margin-right: 0;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: 1px solid rgb(255, 249, 239);
  border-radius: 10px;
  display: block;
}

.cancel-booking-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.manager-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.table-title {
  background-color: #e3e3e3a4;
  border: 1px solid white;
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  text-align: center;
}

.table-content {
  background-color: #e3e3e3a4;
  border: 1px solid white;
  border-radius: 1rem;
  color: black;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: left;
}

.cell-names {
  font-weight: bolder !important;
}

.available-session {
  background-color: #79AC78;
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  color: white;

}

.booked-session {
  background-color: #2a1621;
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  color: white;
}

.header-container {
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  background-image: url(https://jamiesfarm.org.uk/wp-content/uploads/2023/09/Jamies-Farm_Hereford_July-2021_Lydia-Booth-Photography_high-res-2-1536x1024.jpg);
  background-size: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.header-content {
  text-align: center;
  margin-bottom: 20px;
}


.text-container h2 {
  color: #ffffff;
  text-shadow: 0 0 20px #000000;
  font-size: 40pt;
  margin-top: -6rem;
}

.button-container {
  display: flex;
  gap: 20px;
}


.header-button {
  background-image: linear-gradient(to right, #63434c 0%, #2a1621 51%, #120b0f 100%);
  margin: 5px;
  padding: 15px 35px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #000000;
  border: 1px solid rgb(255, 249, 239);
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.header-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.loading-page {
  font-size: 30px;

}

.form-button {
  background-image: linear-gradient(to right, #63434c 0%, #2a1621 51%, #120b0f 100%);
  margin: 5px;
  padding: 15px 35px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white !important;
  box-shadow: 0 0 20px #000000;
  border: 1px solid rgb(255, 249, 239);
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.form-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.form-button {
  color: white;
}

.footer {
  width: 100%;
  border-radius: 5px;
  background-color: #5a504b;
  opacity: 0.8;
  height: 4rem;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
}



