body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #a9becb;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  opacity: 0.8;

}

.volunteer-instructions {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #a9becb;
  text-align: justify;
}


.instructions-header {
  font-size: 24px;
}

.instructions-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.sessions-header {
  font-size: 20px;
}

.sessions-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.sessions-steps {
  font-size: 14px;
}

.notes {
  font-size: 16px;
  color: #813126;
  font-weight: bold;
  margin-top: 15px;
}
.calendar-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #a9becb;

}

.calendar-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.booked-sessions {
  background-color: #adad9f;
  color: black;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.booked-sessions strong {
  flex: 1;
  margin-right: 10px;
}

.available-session {
  background-color: #cea86f;
  color: white;
  
}


.booked-session {
  background-color: #813126;
  color: white;
  
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
  

.footer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #a9becb;
  opacity: 0.8;
}



/* button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #a9becb;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #a9becb;
  left: 0;
  top: 0;
  border-radius: 10px;
} */